:root{
    --primary-dark: rgb(56, 30, 30);
    --accent: rgb(132, 188, 65);
    --primary-light: rgb(223, 210, 195);
}
body{
    background-color:var(--primary-dark);
}
.container {
  display: flex;
  background-color:var(--accent);
}

.flexbox-container div {
  background-color:var(--accent);
  margin: 10px;
  padding: 145px;
  font-size: 24px;
  border-radius:8px;
  display:inline-flex;
  align-items:center;
}
h3 .flexbox-container{
    vertical-align: top;
}
h1{
    color: var(--primary-light)
}

