body{
    color: beige;
    text-align: center;
    border: 10px;
    border-color: rgb(13, 5, 5);
    background-color: rgb(41, 12, 12)
}
h1, h2, h3{
    font-family:Arial, Helvetica, sans-serif;
color:rgb(249, 222, 154)
}
p{font-family:Arial, Helvetica, sans-serif;}