*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
:root{
    --dark-color:#4B403C;
    --light-color:#EBE4F2;
    --background:#C26FEA;
    --accent:#B83760;
}
body{
    background:var(--light-color);
}
.container{
    width: 90%;
    max-width: 1200px;
    background:var(--background); 
    min-height: 500px;
    color:var(--dark-color);
    margin: 20px auto;
    border:8px solid var(--accent);
    border-radius:8px;
}
.gallery-container{
    display: grid;
    columns: repeat(5, 1fr);
    gap: 10px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:90%;
    margin:20px auto;
    
}   
.main-display{
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    min-height: 400px;
    margin:20px;
    text-align:center;
  
}
.main-display h1{
    padding:150px;
    text-align:center;
    
}
.thumb{
    cursor:pointer;
    padding:20px;
    background:var(--dark-color);
}
.thumb img{
    display:block;
    width:140px;
    height:100px;
    object-fit:cover;
}
.footer, p{
    text-align: center;
}