*{
    box-sizing: border-box;
    padding 0;
    margin: 0;
}
:root{
    --dark:#301300;
    --accent: #2C566C;
    --highlight:#B4BBCC; 
    --midtone: #BA285C; 
    --light:#FFD0E1 ;
}
.hero{
    display: flex;
    align-items: center;
    min-height: 400px;
}
.hero-text, .hero-image{
    flex-basis:50%;
    flex-grow: 1;
    padding: 20px;
    border: none;
    align-items: center;
}
.hero-image img{
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    background:var(--accent); 
    border-radius: 20px;
}
.container{
    width: 90%;
    margin: 20px auto;
    max-width: 1200px;
    background:var(--midtone) ;
    display: flex;
    align-items: center;
    min-height: 400px;
}
header{
    background-color:var(--accent); 
    border: none;
    color:var(--light) ; 

}
body{
    background-color:var(--highlight);
    color: ; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
}
div, header, aside, main{
    border: none;
    min-height: 200px;
    mid-width: 250px;
    background: var(--midtone); 
    color:var(--highlight);
    display: inline-block;
    margin: 5%;
}
aside{
    flex-basis: 20%;
    flex-grow: 1;
    padding: 20px;
    background-color:var(--accent);
    color:var(--light);
    float:right;
    width: 20%;
    text-align:left;
    align-self:flex-start;
}
main{
    flex-basis: 70%;
    flex-grow 1;
    padding:10px;
    width: 60%;
}
footer{
    background-color:none;
    text-align:center;
    color:var(--accent);
    border: none;
    padding: 40px;
}
h1, h2, h3, p{
    text-align: center;
}
