*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --accent:#9C4E31 ;
    --background:#F9ECE5;
    --light: #FFC1C3; 
    --dark: #002023;
    --midtone:#099078;
}
body{
    background:var(--background);
    font-family: Arial, Helvetica, sans-serif;
    color:var(--dark);

}
.banner{
    display:grid;
    grid-template-columns: 1;
    gap:20px;
    background:var(--midtone);
    color:var(--dark);
    padding:10px;
    text-align:center;
    border-bottom:3px solid var(--light);

}
.card{
    background:var(--accent);
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    margin:30px auto;
    padding: 20px;
    max-width: 420px;
    border:3px solid var(--accent);
    gap: 16px;
    justify-content:center;
    align-items:center;
    width: fit-content;
    max-width: 90%;
}
.text-card{
    text-align: left;
}
.avatar{
    width:450px;
    height: auto;
    flex:0 1 450px;
}
.avatar img{
    display:block;
    width:100%;
    height:auto;
    border: 2px solid var(--accent);
    border-radius:4px;
}
@media(min-width:700px) {
    .banner {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

}
footer p{
    text-align:center;
}
}
